
.question-help{
	font-weight: bold;
	border: solid;
}

.object-fieldset{
	display: inline-table;
	width: 60%;
}

.fieldset-borderless{
	border: 0;
}

.invisible{
	display: none;
}

.incomplete{
	color: red;
}