<!-- helper functions for rendering questions -->
{% from "question.html" import render_label %}
{% from "question.html" import render_question %}

<link rel="stylesheet" href="static/styles.css" />
<script src="static/form_controls.js"></script>


<!-- macro to render a node in the tree structure of questions (node type is not yet specified) -->
{% macro render_tree_node(question, responses, id_prefix) %}

	<!-- if the question is a section, the node should be rendered as an internal node (a collection of section instances) -->
	{% if 'sec_' in question['format'] %}
		{{render_section_collection(question, responses[question['format']], responses['%s_subsection_instance_name' % question['format']]) }}
		
	{% else %}
	
		<!-- create a unique id prefix for the object -->
		{% set id = '%s~%s' % (id_prefix, question['question_short']) %}
		
		<fieldset name="fieldset_{{ id }}" class="fieldset-borderless">
	
			<!-- display the label for the object -->
			{{ render_label(question) }}
			
			<!-- if the question is an object, the node should be rendered as an internal node (a collection of objects) -->
			{% if question['type'] == 'object' %}
				{{ render_object_collection(question, responses[question['question_short']], id) }}
				
			<!-- if the question is not an object, the node should be rendered as a child node (flat question) -->
			{% else %}
				{{ render_question(question, responses[question['question_short']], id) }}
				
			{% endif %}
			
		</fieldset>
		
	{% endif %}
	
	<br>
{% endmacro %}


<!-- macro to create a collection of object instances (an internal node of the tree structure) -->
{% macro render_object_collection(object_question, object_responses, id) %}
			
	<!-- hidden tag used to track id prefixes associated with each group of object instances for use by javascript to control dynamic object instance manipulation -->
	<p id="{{ id }}" name="hidden_id" class="invisible">
	
	<!-- hidden tag used to track which object collections are mandatory in order to determine if a default instance should be created or not -->
	{% if object_question['mandatory'] == 'yes' %}
		<p id="{{ id }}" name="hidden_id_mandatory" class="invisible">
	{% endif %}
	
	<br>
	
	<div>
		<!-- create a first object instance to be used as an invisible cloning template for addition of new instances -->
		{{ render_object_instance(object_question, -1, {}, id) }}
		
		<!-- look up how many object instances exist in saved responses -->
		{% if object_responses is undefined %}
			{% set num_responses = 0 %}
		{% else %}
			{% set num_responses = object_responses|length %}
		{% endif %}
		
		<!-- for each saved instance, render an object instance with the saved responses -->
		{% for ind in range(num_responses) %}
			{{ render_object_instance(object_question, ind, object_responses[ind], id) }}
		{% endfor %}
	</div>

	{% if (object_question['max_responses'] > 1) %}
		<input type="button" id="{{ '%s_btn_add' % id }}" value="Add Instance">
	{% endif %}
	<br>
	<br>
{% endmacro %}


<!-- macro to create an instance of an object (a component of an internal node of the tree structure) -->
{% macro render_object_instance(object_question, ind, instance_responses, id_prefix) %}

	<!-- create a unique id prefix for the object instance -->
	{% set id = '%s~obj_%d' % (id_prefix, (ind+1)) %}
	
	<div id="{{ id }}">
		<fieldset name="obj_fieldset" class="object-fieldset">
		
			<!-- loop through and create each sub-question (which may itself be either another internal node or a child node of the question tree structure) of the object instance -->
			{% for sub_question in object_question["sub_questions"] %}
				{{ render_tree_node(sub_question, instance_responses, id) }}
			{% endfor %}
		</fieldset>
		
		<!-- create a button to allow for dynamic deletion of the object instance -->
		{% if (object_question['max_responses'] > 1) %}
			<input type="button" name="obj_btn_del" value="Delete Instance">
		{% endif %}
	</div>
{% endmacro %}


<!-- macro to render a question that generates sub-sections -->
{% macro render_section_collection(question, instance_nums, instance_names) %}

		<h2>{{ question['question_title'] }}</h2>

		<!-- display the label for the object -->
		{{ render_label(question) }}

		<!-- hidden tag used to track the name associated with each group of section instances for use by javascript to control dynamic section instance manipulation -->
		<p id="{{ question['format'] }}" name="section_id" class="invisible">
		
		<!-- if there are no saved section instances, create one default instance -->
		{% if instance_nums is undefined %}
			{{ render_section_instance(question['format'], '0', '') }}
			
		<!-- otherwise, create the saved instances -->
		{% else %}
			{% for ind in range(instance_nums|length) %}
				{{ render_section_instance(question['format'], instance_nums[ind], instance_names[ind]) }}
			{% endfor %}
		{% endif %}
	
	<br>

{% endmacro %}


<!-- macro to create an instance of a section -->
{% macro render_section_instance(section_name, instance_num, instance_name) %}
	<div id="{{ section_name }}~{{ instance_num }}">
		<input type="hidden" name="~{{ section_name }}" value="{{ instance_num }}">
		<input type="hidden" name="~{{ section_name }}_subsection_instance_name" value="{{ instance_num }}" required>
		<input type="submit" name="sec_btn_edit" value="Go to section">
	</div>
{% endmacro %}


<!-- button to view a table of contents for the questionnaire sections available so far -->
{% if not(section_title == 'Self-Assessment Questionnaire') %}
	<form method="get" action="/costing">
		<input type="hidden" name="action" value="goto">
		<input type="hidden" name="question_index" value="sec_top">
		<input type="submit" value="Return to table of contents">
	</form>
{% endif %}

<h1>{{ section_title }}</h1>

<p>{{ section_instructions }}</p>

{% if section_title == 'Self-Assessment Questionnaire' %}
	<p>Sections complete: {{ sections_complete }} / {{ sections_total }}</p>
{% endif %}

<br>

<!-- main form containing the question fields -->
<form method="post" action="/costing">

	<input type="hidden" name="question_index" value="{{ question_index }}">
	<input type="hidden" id="hidden_edit_index" name="edit_index"  value="{{ question_index }}">

	<!-- loop through and create each question (these may either be internal nodes or child nodes of the question tree structure) -->
	{% for question in questions %}		
		{{ render_tree_node(question, saved_responses, '') }}
	{% endfor %}
	
	<br>
	<br>
	
	{% if not(section_title == 'Self-Assessment Questionnaire') %}
		<input type="submit" value="Submit and return to table of contents">
	{% endif %}
</form>

{% if section_title == 'Self-Assessment Questionnaire' %}
	<p>Sections complete: {{ sections_complete }} / {{ sections_total }}</p>
{% endif %}

<!-- button to view a report for all responses given so far -->
<form method="get" action="/report">
	{% if sections_complete == sections_total %}
		<input type="submit" value="View full report">
	{% else %}
		<input type="submit" value="View partial report">
	{% endif %}
</form>

