<!-- macro to render question labels -->
{% macro render_label(question) %}
	{% if not(question['question_long'] == '') %}
		<label>
			<!-- if the question is mandatory, display an asterisk -->
			{% if question['mandatory'] == "yes" %}
				*
			{% endif %}
			
			{{ question['question_long'] }}
		</label>
		
		<!-- create a help icon with a tooltip to display more information about the response required for the question -->
		<label class="question-help" title="{{ question['help'] }}">?</label>
		<br>
		<br>
	{% endif %}
{% endmacro %}

<!-- macro to render question form fields -->
{% macro render_question(question, saved_responses, name) %}
	
	<!-- use a variable to validate form fields as being required if the question is mandatory -->
	{% if question['mandatory'] == "yes" %}
		{% set required = "required" %}	
	{% else %}
		{% set required = "" %}
	{% endif %}	
	
	<!-- use an empty placeholder if no responses were saved -->
	{% if saved_responses is undefined %}
		{% set saved_responses = [''] %}
	{% endif %}	

	<!-- for standard text-based fields, configure the field based on the input type for validation (currently supporting integer, float and string) -->
	{% if question['format'] == "text" %}
		{% if question['type'] == "integer" %}
			<input type="number" name="{{ name }}" value="{{ saved_responses[0] }}" {{ required }}>
		{% elif question['type'] == "float" %}
			<input type="number" step="any" name="{{ name }}" value="{{ saved_responses[0] }}" {{ required }}>
		{% else %}
			<input type="text" name="{{ name }}" value="{{ saved_responses[0] }}" {{ required }}>
		{% endif %}
	
	<!-- long-form fields use a textarea -->	
	{% elif question['format'] == "textarea" %}
		<textarea type="text" name="{{ name }}" rows="10" cols="120" {{ required }}>{{ saved_responses[0] }}</textarea>
	
	<!-- selection type questions and boolean (checkboxes) both use the select field -->
	{% elif (question['format'] == "select") or (question['format'] == "checkbox") %}
		<select name="{{ name }}" {{ required }}>
		
			<!-- create a disabled option that prompts the user to select from the list -->
			<option hidden disabled selected value> -- select an option -- </option>
		
			<!-- populate the list from the response options -->
			{% for response in question['responses'] %}
			
				<!-- if one of the options was previously selected and saved, restore it as the currently selected option -->
				{% if saved_responses[0] == response['response'] %}
					<option value="{{ response['response'] }}" selected>{{ response['response'] }}</option>	
				{% else %}
					<option value="{{ response['response'] }}">{{ response['response'] }}</option>	
				{% endif %}	
			{% endfor %}
		</select>
		
	<!-- multiselect type questions use a special configuration of the select field -->
	{% elif question['format'] == "multiselect" %}
		<select name="{{ name }}" multiple {{ required }}>

			<!-- populate the list from the response options -->
			{% for response in question['responses'] %}
			
				<!-- if one of the options was previously selected and saved, restore it as one of the currently selected options -->
				{% if response['response'] in saved_responses %}
					<option value="{{ response['response'] }}" selected>{{ response['response'] }}</option>
				{% else %}
					<option value="{{ response['response'] }}">{{ response['response'] }}</option>
				{% endif %}	
			{% endfor %}
		</select>
		
	<!-- display a message warning if an unknown question type was encountered -->
	{% else %}
		<p>MISSING TEMPLATING DETAILS FOR QUESTION FORMAT</p>
		
	{% endif %}
	
	<br>
	<br>
		
{% endmacro %}

<!-- macro to render question, response and recommendation groups in the report -->
{% macro render_response(question, responses) %}

	<!-- use a namespace to track whether a recommendation exists for the response given -->
	{% set ns = namespace(recommendations=False) %}	
	{{ render_label(question) }}
	
	{% for response in responses %}
		<p>Response: {{ response }}</p>
		<p>Recommendations: </p>
		
		<ul>
			{% for response_opt in question['responses'] %}
				{% if (response_opt['response'] == response) and (not(response_opt['response'] == '')) and (not(response_opt['recommendations']|length == 0)) %}
					<!-- track that a recommendation has been found -->
					{% set ns.recommendations = True %}
					
					<!-- display a list of all recommendations for the current response -->
					{% for recommendation in response_opt['recommendations'] %}
						<li>{{ recommendation['recommendation'] }}</li>
					{% endfor %}
				{% endif %}
			{% endfor %}
		</ul>
	{% endfor %}
	
	<!-- if no recommendations were found, display N/A -->
	{% if not(ns.recommendations) %}
		<p>N/A</p>
	{% endif %}
	<br>
	<br>
{% endmacro %}